{% extends "layout_admin.html" %}

{% block content %}
    <h2>Editing programming language</h2>

    <p>Edit the form below to update the <strong>{{ language.name }}</strong> programming language:</p>

    {% from "/helpers/_form_helper.html" import render_field %}

    <div class="form_new_register">
        <form action="{{ url_for('update_language', slug=language.slug) }}" method="post" accept-charset="utf-8">
            <input type="hidden" name="_method" value="put" />
            {{ form.csrf_token }}
            <dl>
                {{ render_field(form.name) }}
                <dt></dt>
                <dd><input type="submit" name="submit" value="Save" id=""/></dd>
            </dl>
        </form>
    </div>
{% endblock %}
