{% extends "layout_admin.html" %}

{% block content %}
    <h2>Edit "{{ project.name }}" project</h2>

    <p>Fill the form below to edit this project:</p>

    {% from "/helpers/_form_helper.html" import render_field %}

    <div class="form_new_register">
        <form action="{{ url_for('update_project', slug=project.slug) }}" method="post" accept-charset="utf-8">
            {{ form.csrf_token }}
            <dl>
                {{ render_field(form.programming_language) }}
                {{ render_field(form.name) }}
                {{ render_field(form.github_url) }}
                {{ render_field(form.documentation_url) }}
                <dt></dt>
                <dd><input type="submit" name="submit" value="Save" id=""/></dd>
            </dl>
        </form>
    </div>
{% endblock %}
